[submodule "public"]
	path = public
	url = https://github.com/zhengxixuan/zhengxixuan.github.io
	branch = main
[submodule "public/public"]
	path = public/public
	url = https://github.com/zhengxixuan/zhengxixuan.github.io.git
	branch = main
